@model Recipedia.Models.GeneratedRecipeResultDTO

@{
    ViewData["Title"] = "Generate Recipe";
}
<div class="generated-recipe-body">
    <div class="generated-recipe-header">
        <div>
            <a asp-action="GenerateRecipe" class="back-btn"><i class="bi bi-arrow-left"></i></a>
        </div>
        <div class="generated-recipe-header-container">

            <h2>@Model.Category</h2>
            <h1>@Model.Title</h1>
            <div class="recipe-tags-container">
                <div class="recipe-tag">
                    <i class="bi bi-clock"></i>
                    <div class="recipe-tag-text">
                        <span class="tag-title">Time</span>
                        <span class="tag-value">@Model.CookTimeMinutes minutes</span>
                    </div>
                </div>
                <div class="recipe-tag">
                    <i class="bi bi-star"></i>
                    <div class="recipe-tag-text">
                        <span class="tag-title">Difficulty</span>
                        <span class="tag-value">@Model.Difficulty</span>
                    </div>
                </div>
            </div>
            <a asp-controller="Recipes" asp-action="DownloadRecipePdf" class="pdf-btn">
                <i class="bi bi-file-earmark-pdf"></i> PDF Download
            </a>
        </div>
    </div>
    <div class="generated-recipe-content">
        <div class="generated-recipe-ingredients">
            <h4>Ingredients</h4>
            <ul>
                @foreach (var ingredient in Model.Ingredients)
                {
                    <li>@ingredient</li>
                }
            </ul>
        </div>
        <div class="generated-recipe-directions">
            <h4>Instructions</h4>
            <ol>
                @foreach (var step in Model.Instructions)
                {
                    <li>@step</li>
                }
            </ol>
        </div>



    </div>

 

</div>